@{
    ViewData["Title"] = "About";
}

<h1 class="text-center" id="about-header">За създателя</h1>
 
<div class="maturnik-header-about">
    <h3>Кой създаде Матуртик?</h3>
    <p>
        Здравайте хора! Казвам се Николай и съм създателя на Матурник, най-готината платформа за решаване на тестове/матури днес. 
        Набор 00 съм и съм родом от град Червен бряг (Плевенско). В момента съм студент във ВТУ и изучавам Компютърни науки и също така 
        работя във VSG Bulgaria като Junior .NET Back-End Developer.
    </p>
</div>