@{
    ViewData["Title"] = "Contacts";
}

    <ul class="rolldown-list" id="myList">
        <li>
            <a href="https://www.facebook.com/niolai.nanov">Facebook</a>
        </li>
        <li>
            <a href="https://www.instagram.com/nickolaynn/">Instagram</a>
        </li>
        <li>
            <a href="https://github.com/NickolayNanov">Github</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/%D0%BD%D0%B8%D0%BA%D0%BE%D0%BB%D0%B0%D0%B9-%D0%BD%D0%B0%D0%BD%D0%BE%D0%B2-7b0003188/">LinkedIn</a>
        </li>
        <li>E-Поща - nickolaynanov17@gmail.com</li>
    </ul>