
@{
    ViewData["Title"] = "Login";
    @model OnlineExamer.Models.Authentication.LoginModel
}

<h1 class="text-center">Вход</h1>
@if (this.ViewData["Errors"] != null)
{
    <h4 class="text-danger">@this.ViewData["Errors"]</h4>
}

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account"
                  method="post"
                  asp-controller="Authentication"
                  asp-action="Login"
                  asp-antiforgery="true">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Вход</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-controller="Accounts"
                           asp-action="Register">
                            Не сте регистрирани? Направете го сега!
                        </a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>