@{
    ViewData["Title"] = "ExamResult";
    @model int
}

<h1>Вие изкарахте @Model точки!</h1>

<button class="btn btn-primary"
        asp-controller="Exams"
        asp-action="AllExams">Назад</button>
