@page "/login"
@inject IUriHelper uriHelper
@inject HttpClient Http
@inject IAuthService AuthService
<h3>Login</h3>

@if (!string.IsNullOrWhiteSpace(Error))
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}

<div class="col-md-6">
    <TextField @bind-Value="Email" Placeholder="Е-Поща... ivan@abv.bg" />
    <PasswordField @bind-Value="Password" Placeholder="Парола" />
    <input type="submit" class="btn btn-primary" value="Submit" @onclick="Submit" />
</div>

@code {

    public string Email { get; set; }
    public string Password { get; set; }

    public class TokenResponseModel
    {
        public string Token { get; set; }
    }

    private string Error = "";

    protected async Task Submit()
    {
        LoginModel loginModel = new LoginModel { Email = Email, Password = Password };

        var result = await this.AuthService.Login(loginModel);
        Error = result.Error;
        if (result.Successful)
        {
            this.uriHelper.NavigateTo("/profile");
        }
    }
}
