@page "/login"
<h3>Login</h3>
@inject IAuthService AuthService
@inject IUriHelper UriHelper

<div class="row">
    <div class="col-md-6">
        <section>
            <form>
                <hr class="text-danger" />
                @if (ShowErrors)
                {
                    <div class="alert alert-danger" role="alert">
                        <p>@Error</p>
                    </div>
                }
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" @bind="Email" class="form-control" placeholder="Email... eg: John@gmail.com"/>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" @bind="Password" class="form-control" placeholder="Password..."/>
                </div>
                <div class="form-group">
                    <input type="submit" @onclick="Submit" class="form-control btn btn-success"/>
                </div>
            </form>
        </section>
    </div>
</div>

@code {

    public string Email { get; set; }
    public string Password { get; set; }

    public class TokenResponseModel
    {
        public string Token { get; set; }
    }

    private bool ShowErrors = false;
    private string Error = "";

    protected async Task Submit()
    {
        LoginModel loginModel = new LoginModel { Email = Email, Password = Password };

        var result = await this.AuthService.Login(loginModel);

        if (result.Successful)
        {
            this.UriHelper.NavigateTo("/profile");
        }
        else
        {
            this.ShowErrors = true;
            Error = result.Error;
        }
    }
}

