@page "/register"
@inject IUriHelper UriHelper
@inject HttpClient Http
@inject IAuthService AuthService
<h1>Register</h1>

@if (ShowErrors)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var Error in Errors)
        {
            <p>@Error</p>
        }
    </div>
}

<div class="col-md-9">
    <TextField @bind-Value="Email" Placeholder="Е-Поща... ivan@abv.bg" />
    <PasswordField @bind-Value="Password" Placeholder="Парола" />
    <PasswordField @bind-Value="ConfirmPassword" Placeholder="Потвърди парола..." />
    <input type="submit" class="btn btn-primary" value="Submit" @onclick="Submit" />
</div>
@code {

    public string Email { get; set; }
    public string Password { get; set; }
    public string ConfirmPassword { get; set; }

    private RegisterModel RegisterModel = new RegisterModel();
    private bool ShowErrors;
    private IEnumerable<string> Errors;

    protected async Task Submit()
    {
        RegisterModel model = new RegisterModel { Email = Email, Password = Password, ConfirmPassword = ConfirmPassword };
        var result = await this.AuthService.Register(model);

        if (result.Successful)
        {
            this.UriHelper.NavigateTo("/login");
        }
        else
        {
            ShowErrors = true;
            Errors = result.Errors;
        }
    }
}
