
@{
    ViewData["Title"] = "SubjectsAll";
    @model IEnumerable<OnlineExamer.Models.SchoolSubjects.SchooolSubjectViewModel>
    int index = 1;
}

<h1 class="text-center">Всички предмети, които платформата поддържа</h1>
@if (!this.User.Identity.IsAuthenticated)
{
    <p>
        <h3 class="text-center login-text-message">За да решавате матури трябва да си създадете акаунт!</h3>
    </p>
}
<table class="table table-hover">
    <thead class="subject-table">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Име</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subject in Model)
        {
            <tr>
                <td scope="row">@(index++)</td>
                <td>@subject.Name</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <p>Това са най-често търсените предмети, но ако смятате, че някои предмет липсва се свържете с мен на е-поща: nickolaynanov17@gmail.com</p>

</div>