@inject IAuthService AuthService
@inject IUriHelper uriHelper
<div>
    <AuthorizeView>
        <Authorizing>
            <text>...</text>
        </Authorizing>
        <Authorized>
            <img src="img/user.svg" />
            <div>
                <span class="username">@context.User.Identity.Name</span>
                <button @onclick="Submit">Logout</button>
            </div>
        </Authorized>
        <NotAuthorized>
            <a class="sign-in" href="login">Sign in</a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code{
    protected async Task Submit()
    {
        await this.AuthService.Logout();
        this.uriHelper.NavigateTo("/");
    }
}