<div class="form-group">
    <input class="textField" type="password" name="name" value="@Value" @onchange="@HandleChange"/>
    <label>@Label</label>
</div>

@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public string Value { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }

    protected Task HandleChange(UIChangeEventArgs uIChangeEvent)
    {
        this.Value = (string)uIChangeEvent.Value;
        return ValueChanged.InvokeAsync(this.Value);
    }
}
